
.linker {
    display: flex;
    border-bottom: black solid 3px;
    padding: .2em 1.5em;
}

.copyright {
    margin-left: auto;
    line-height: 2em;
}

.navigation {

    padding: .2em 1.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 3em;
}

.navigation > a {
    margin: 0 1em;
    text-decoration: none;
}


.links img {
    width: 2em;
    height: 2em;

    opacity: 80%;
    transition: opacity .2s;
}

.links img:hover {
    opacity: 100%;
}

